@media(max-width: 376px){
    body{
        justify-content: center;
        width: auto;
        
    }

    .container{
        margin: 20px;
        height: auto;
        padding: auto;
    }
    

    .cabecalho img{
        width: 100%;
        height: 100%;
        border-radius: 15px;
    }

    .titulo-descricao p, h3, span{
        margin: 0;
    }


}