body {
  background-color: hsl(47, 88%, 63%);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: "Figtree", sans-serif;
}

.container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 501px));
  grid-template-rows: repeat(auto-fill, minmax(30px, 205px));
  background-color: white;
  width: 384px;
  height: 522px;
  border: 1px solid black;
  border-radius: 20px;
  padding: 24px;
  box-shadow: 8px 8px;
  grid-gap: 24px;
}

.cabecalho img {
  border-radius: 10px;
}

.titulo-descricao {
  grid-area: 2 / 1 / 3 / 1;
  align-items: center;
  margin-top: 6px;
  margin-bottom: 6px;
}

.titulo-descricao p,
h3,
span {
  margin-top: 24px;
}

.titulo-descricao span {
  padding: 4px 12px;
  background-color: hsl(47, 88%, 63%);
  border-radius: 4px;
  font-size: 14px;
  font-weight: 700;
}

.titulo-descricao .descricao {
  font-size: 16px;
  color: #6b6b6b;
  margin-top: 24px;
}

.titulo-descricao .data {
  font-size: 14px;
  margin-top: 25px;
}

.rodape {
  grid-area: 3 / 1 / 3 / 1;
  display: flex;
  align-items: center;
  font-size: 14px;
  font-weight: 700;
  margin-top: 12px;
}

.rodape img {
  height: 32px;
  width: 32px;
  margin-right: 10px;
}

.titulo-descricao h3 {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 12px;
}

.titulo-descricao h3:hover {
  cursor: pointer;
  color: hsl(47, 88%, 63%);
}
